.App {
  text-align: center;
}

header {
  background-color: black;
  padding: 20px;
  font-size: 2em;
  color: white;
}

nav {
  background-color: red;
  padding: 15px;
}

nav a {
  text-decoration: none;
}

nav ul li {
  color: white;
  display: inline;
  padding: 50px;
  font-size: 1.5em;
  text-align: center;
}

.all-articles ul {
  padding: 0;
  margin: 0;
}

.all-articles ul li {
  border: 1px solid black;
  margin: 5px;
  list-style: none;
}

.topics-content ul {
  padding: 0;
  margin: 0;
}

.topics-content ul li {
  border: 1px solid brown;
  margin: 50px;
  list-style: none;
}

.articlesByTopic ul {
  padding: 0;
  margin: 0;
}

.articlesByTopic ul li {
  border: 1px solid brown;
  margin: 50px;
  list-style: none;
}

.sort-articles {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px;
}

.login ul {
  padding: 0;
  margin: 0;
}

.login {
  margin-top: 80px;
  background-color: blueviolet;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  border-radius: 20px;
}

.all-comments ul {
  padding: 0;
  margin: 0;
}

.all-comments ul li {
  border: 1px solid brown;
  margin: 50px;
  list-style: none;
}

.del-btn {
  margin-bottom: 10px;
}
